<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    
</head>
<body>
    <div class="navbar">
        <!-- <a href="home.html"><img src="hogwartslogo.png" class="logo"></a> -->
        <ul class="menu-bar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <div class="top-container">
        <h1>Welcome to Our Website</h1>
    </div>

    <div class="bottom-container">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
    </div>






    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    
</body>
</html>