<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css')}}">
</head>
<body>

     <div class="title">Welcome to Admin Dashboard</div>
    
    <div class="search">
      <input class="search-bar" type="text" placeholder="Search">
      <button class="search-button">
      <img class="search-icon" src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png">
      <div class="tooltip">Search</div>
      </button>
    </div>



    <div class="sidebar">
      <a class="sidebar-link" href="#">Home</a>
      <a class="sidebar-link" href="{{url_for('players')}}">Players</a>
      <a class="sidebar-link" href="#">Teams</a>
      <a class="sidebar-link" href="#">Events</a>
      <a class="sidebar-link" href="#">Update Stats</a>
  </div>


    <div class="event-container">
      <h2>Edit Events</h2>
      <form action="{{url_for('admin')}}" method="post">

        <label for="new_member">Team A:</label>
        <input type="text" name="teamA" required><br><br>
        <label for="new_member">Team B:</label>
        <input type="text" name="teamB" required><br><br>
        <label for="new_member">Date:</label>
        <input type="date" name="date" required><br><br>
        <input type="submit" name="add" value="Add Event">
        <input type="submit" name="remove" value="Remove Event">
      </form>
      <h1>{{msg}}</h1>
    </div>

   
    
</body>
</html>