<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/event_teams.css')}}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <table>
            <tr>
                <td>
        <h1>Gryffindor</h1>
        {%for i in team%}
        {%if i['House']=='Gryffindor'%}
        <h3>
            Gryffindor {{i['Id']}}
        </h3>
        {%endif%}
        {%endfor%}
        </td>

        <td>
        <h1>Slytherin</h1>
        {%for i in team%}
        {%if i['House']=='Slytherin'%}
        <h3>
            Slytherin {{i['Id']}}
        </h3>
        {%endif%}
        {%endfor%}
        </td>
        <td>
        <h1>Ravenclaw</h1>
        {%for i in team%}

        {%if i['House']=='Ravenclaw'%}
        <h3>
            Ravenclaw {{i['Id']}}
        </h3>
        {%endif%}
        {%endfor%}
        </td>
        <td>
        <h1>Hufflepuff</h1>
        {%for i in team%}
        {%if i['House']=='Hufflepuff'%}
        <h3>
            Hufflepuff {{i['Id']}}
        </h3>
        {%endif%}
        {%endfor%}
        </td>
            </tr>
        </table>
        <script src="" async defer></script>
    </body>
</html>