<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    
</head>
<body>
    <div class="navbar">
        <!-- <a href="home.html"><img src="hogwartslogo.png" class="logo"></a> -->
        <ul class="menu-bar">
            <li><a href="{{url_for('user_events')}}">Events</a></li>
            <!-- <li><a href="#">Houses</a>
                <ul class="dropdown">
                  <li><a href="{{url_for('gteam')}}">Gryffindor</a></li>
                  <li><a href="{{url_for('rteam')}}">Ravenclaw</a></li>
                  <li><a href="{{url_for('hteam')}}">Hufflepuff</a></li>
                  <li><a href="{{url_for('steam')}}">Slytherin</a></li>
                </ul>
            </li> -->
            <li><a href="{{url_for('team')}}">Register Team</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
    <div class="top-container">
        <h1>Welcome {{user}} to Our Website</h1>
    </div>
    

    <div class="bottom-container">
        <p class="text">
            Quidditch is played on broomsticks and involves two teams, each consisting of seven players: three Chasers, two Beaters, one Keeper, and one Seeker. The objective of the game is to score points by getting the Quaffle, a red ball, through the opposing team's three goal hoops. Each goal scored is worth 10 points.
        </p>
        <p class="text">
            In addition to scoring goals, there are two other important aspects of Quidditch:

            Bludgers: These are two black balls that fly around the pitch trying to knock players off their brooms. Each team has two Beaters whose primary job is to hit the Bludgers away from their teammates and towards the opposing team.
            
        </p>
        <p class="text">
            Golden Snitch: The Golden Snitch is a small, fast, golden ball with wings. It is released onto the field at the beginning of the game, and the Seeker's job is to catch it. Catching the Snitch awards the team 150 points and ends the game. The Seeker who catches the Snitch is usually the player who attracts the most attention due to the high point value and game-ending nature of the Snitch catch.
        </p>
        <p class="text">
            Quidditch matches take place on an oval-shaped pitch with three goal hoops of varying heights at each end. The game is played in the air on broomsticks, and players must be skilled at maneuvering their brooms while trying to score goals, defend their hoops, and avoid Bludgers.

            The game ends when one of the Seekers catches the Golden Snitch, awarding their team an additional 150 points. The team with the most points after the Snitch catch wins the game.
        </p>
    </div>
    <h1>Houses</h1>
    <div class = "houses2">
        <figure>
            <!-- <img src="https://static1.moviewebimages.com/wordpress/wp-content/uploads/2022/06/Hogwarts-Houses-(1).jpg"> -->
            <a href="{{url_for('gryffindor')}}" class='btn btnClass1'>+</a>
            <a href="{{url_for('ravenclaw')}}" class='btn btnClass2'>+</a>
            <a href="{{url_for('slytherin')}}" class='btn btnClass3'></a>
            <a href="{{url_for('hufflepuff')}}" class='btn btnClass4'></a>
            
        </figure>
    </div>
    
    <h1>Upcoming Events</h1>
    <div class="calendar">
        <div class="events">
            {% for event in events %}
            <form action="{{url_for('event_info')}}" method="post">
                <input type="hidden" name="teamA" value="{{event['teamA']}}">
                <input type="hidden" name="teamB" value="{{event['teamB']}}">
                <input type="hidden" name="teamA_id" value="{{event['teamA_id']}}">
                <input type="hidden" name="teamB_id" value="{{event['teamB_id']}}">
            <div class="event">
                <h3> {{event['teamA']}}&nbsp;{{event['teamA_id']}} vs {{event['teamB']}}&nbsp;{{event['teamB_id']}} </h3>
                <p> {{event['date']}} </p>
                <p> This match will be legendary </p>
                <input type="submit" name="event" value="View Event">
                <input type="submit" name="book" value="Book">
            </div>
            
        </form>
        
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    
</body>
</html>