<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    
</head>
<body>
    <div class="navbar">
        <!-- <a href="home.html"><img src="hogwartslogo.png" class="logo"></a> -->
        <ul class="menu-bar">
            <li><a href="{{url_for('user_events')}}">Events</a></li>
            <li><a href="#">Product</a>
                <ul class="dropdown">
                  <li><a href="#">Product 1</a></li>
                  <li><a href="#">Product 2</a></li>
                  <li><a href="#">Product 3</a></li>
                </ul>
            </li>
            <li><a href="{{url_for('team')}}">Register Team</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
    <div class="top-container">
        <h1>Welcome to Our Website</h1>
    </div>
    

    <div class="bottom-container">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda itaque recusandae ex expedita voluptatum ipsum reprehenderit odio magnam ab, cupiditate iure consectetur iusto repellat at quae, dolores laudantium aut dolorem. Et, tempora ipsum harum nobis veritatis repudiandae expedita fuga quisquam explicabo natus nulla dolore autem id corrupti 
            error beatae dolorum facere eveniet ab iure iste cum in molestias. Necessitatibus tempore amet laudantium ratione fugit itaque, natus quisquam molestias ipsa sed? Ab similique omnis saepe, dignissimos ea culpa unde tempore aliquid! Quo eaque dicta, facere alias commodi 
            eius incidunt numquam recusandae fuga ab perferendis officiis architecto! Quae iure sunt rem.
        </p>
    </div>
    <h1>Houses</h1>
    <div class = "houses2">
        <figure>
            <!-- <img src="https://static1.moviewebimages.com/wordpress/wp-content/uploads/2022/06/Hogwarts-Houses-(1).jpg"> -->
            <a href="{{url_for('gryffindor')}}" class='btn btnClass1'>+</a>
            <a href="#" class='btn btnClass2'>+</a>
            <a href="{{url_for('slytherin')}}" class='btn btnClass3'></a>
            <a href="#" class='btn btnClass4'></a>
            <a href="#" class='btn btnClass5'>+</a>
            <a href="#" class='btn btnClass6'>+</a>
            <a href="#" class='btn btnClass7'></a>
            <a href="#" class='btn btnClass8'></a>
        </figure>
    </div>
    <h1> Leaders of the respective houses </h1>
    <div class = "houses">
        <figure>
            
        </figure>
    </div>
    <h1>Upcoming Events</h1>
    <div class="calendar">
        <div class="events">
            {% for event in events %}
            <form action="{{url_for('event_info')}}" method="post">
                <input type="hidden" name="teamA" value="{{event['teamA']}}">
                <input type="hidden" name="teamB" value="{{event['teamB']}}">
                <input type="hidden" name="teamA_id" value="{{event['teamA_id']}}">
                <input type="hidden" name="teamB_id" value="{{event['teamB_id']}}">
            <div class="event">
                <h3> {{event['teamA']}}&nbsp;{{event['teamA_id']}} vs {{event['teamB']}}&nbsp;{{event['teamB_id']}} </h3>
                <p> {{event['date']}} </p>
                <p> This match will be legendary </p>
            </div>
            <input type="submit" value="View Event">
        </form>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    
</body>
</html>