<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harry Potter Event Booking</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/price.css')}}">
</head>
<body>
  <div class="container">
    <h1>Harry Potter Event Booking</h1>
    <div class="Event"> Event: </div>

    <form>
      <label for="seats">Number of Seats (Max 10):</label>
      <input type="number" id="seats" min="1" max="10">

      <button type="button">Calculate Total</button>
    </form>

    <div class="totalCost">
      <p>Total Cost:</p>
      <p class="cost">0 Galleons</p>
    </div>
  </div>
</body>
</html>
