<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/houseS.css')}}">
    </head>
    <body>
        <div class="img-container">
            <!-- <img  src="https://e1.pxfuel.com/desktop-wallpaper/842/496/desktop-wallpaper-slytherin-quidditch-slytherin.jpg" alt=""> -->
            <img  src="https://wallpaper.dog/large/5570785.jpg" alt="">
        </div>
        {% for i in range(length)%}
       <div class="positions">
       </div>
       <div class="player">
        {% for player in players[i] %}
            <div class="player-img-container" style="background-image: url({{player['img']}});">
            </div>
            <div class="player-info-P">
                <div class="player-info-C"><h2>Name : {{player['Name']}}</h2></div>
                <div class="player-info-C"><h2>Position : {{player['Position']}}</h2></div>
                <div class="player-info-C"><h2>Age : {{player['Age']}}</h2></div>
                <div class="player-info-C"><h2>Total Matches : {{player['Total Matches']}}</h2></div>
                <div class="player-info-C"><h2>Wins : {{player['Wins']}}</h2></div>
                <div class="player-info-C"><h2>Losses : {{player['Losses']}}</h2></div>
                <div class="player-info-C"><h2>Broomstick : {{player['Broomstick']}}</h2></div>
            </div>
            {% endfor %}
        </div>
        {%endfor%}
        
    </body>
</html>