<!DOCTYPE html>
<html>
<head>
    <title>Events Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css')}}">
</head>
<body>
    <div class="calendar">
        <h1>Not Updated Events</h1>
        <div class="events">
            {% for event in events1 %}
            <div class="event">
                <h3> {{event['teamA']}}&nbsp;{{event['teamA_id']}} vs {{event['teamB']}}&nbsp;{{event['teamB_id']}} </h3>
                <p> {{event['date']}} </p>
                <p>Who Won?</p>
                <form action="{{url_for('update_stats')}}" method="post">
                    <input type="hidden" name="teamA" value="{{ event['teamA'] }} {{ event['teamA_id'] }}">
                    <input type="hidden" name="teamB" value="{{ event['teamB'] }} {{ event['teamB_id'] }}">
                    <input type="submit" name="winning_team" value="{{ event['teamA'] }} {{ event['teamA_id'] }}">
                    <input type="submit" name="winning_team" value="{{ event['teamB'] }} {{ event['teamB_id'] }}">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
     <div class="calendar">
        <h1>Updated Events</h1>
        <div class="events">
            {% for event in events2 %}
            <div class="event">
                <h3> {{event['teamA']}}&nbsp;{{event['teamA_id']}} vs {{event['teamB']}}&nbsp;{{event['teamB_id']}} </h3>
                <p> {{event['date']}} </p>
                <p> This match will be legendary </p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>