<!DOCTYPE html>
<html>
<head>
    <title>Quidditch Registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/team-register.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Harry+Potter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
    <h1>Quidditch Registration</h1>
    </div>
    <div class="form-container">
    <form action="{{url_for('team')}}" method="post">
        <label for="playerName">Player Name:</label>
        <input type="text" name="name" autocomplete="off" required>

        <label for="position">Position:</label>
        <select name="position" required>
            <option value="">Select a position</option>
            {%if position_counts['Seeker'] < 1 %}
            <option value="Seeker">Seeker</option>
            {%endif%}
            {%if position_counts['Beater'] < 2 %}
            <option value="Beater">Beater</option>
            {%endif%}
            {%if position_counts['Chaser'] < 3 %}
            <option value="Chaser">Chaser</option>
            {%endif%}
            {%if position_counts['Keeper'] < 1 %}
            <option value="Keeper">Keeper</option>
            {%endif%}

        </select>

        <label for="age">Age:</label>
        <select name="age" required>
        <option value="">Select Age</option>
        </select>

        <label for="gender">Gender:</label>
        <select name="gender" required>
            <option value="">Select gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <label for="broomstick">Broomstick:</label>
        <input type="text" name="broomstick" required>

        <label for="totalmatches">Total Matches:</label>
        <input type="number" name="totalmatches" required>

        <label for="wins">Wins:</label>
        <input type="number" name="wins" required>
        <div class="btn-container">
        <input type="submit" name="add" value="Add Player" >
        <input type="submit" name="register" value="Register" onclick="removeRequired()">
        <input type="submit" name="reset" value="Reset" onclick="removeRequired()">
    </div>
    </form>
</div>

    <div class="team-info">
        <h2>Your Team</h2>
        <table>
            <thead>
                <tr class="table-header">
                    <th style="font-size: 45px;">Name</th>
                    <th style="font-size: 45px;">Position</th>
                    <th style="font-size: 45px;">Age</th>
                    <th style="font-size: 45px;">Gender</th>
                </tr>
            </thead>
            {%for team in teams%}
            <thead>
                <tr>
                    <th>{{team['Name']}}</th>
                    <th>{{team['Position']}}</th>
                    <th>{{team['Age']}}</th>
                    <th>{{team['Gender']}}</th>
                </tr>
            </thead>
            {%endfor%}
            {{msg}}
        </table>
    </div>
    <script>
        function removeRequired() {
          document.getElementsByName('position')[0].removeAttribute('required');
          document.getElementsByName('name')[0].removeAttribute('required');
          document.getElementsByName('age')[0].removeAttribute('required');
          document.getElementsByName('gender')[0].removeAttribute('required');
          document.getElementsByName('wins')[0].removeAttribute('required');
          document.getElementsByName('totalmatches')[0].removeAttribute('required');
          document.getElementsByName('broomstick')[0].removeAttribute('required');
        }
        function addAgeDropdown(){
        const dropdown = document.getElementsByName("age")[0];

        // Loop through the range from 13 to 25 and create options for the dropdown
        for (let i = 13; i <= 25; i++) {
            const option = document.createElement("option");
            option.text = i; // Set the option text to the current number
            dropdown.add(option);
        }
    }
    addAgeDropdown()
    </script>
</body>
</html>
