<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <!-- <link rel="stylesheet" type="text/css" href="user-events.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Events</h1>
    <div class="filter">
        <h2>Filter by Date</h2>
        <form method="GET" action="{{url_for('user_events')}}">
            <div class="filter-section">
                <input type="date" name="date"><br>
                <input type="submit" value = "Apply Filter">
            </div>
            
        </form>
    </div>



    <!-- <div class="event-container">
        <h2 class="teams-heading">Team A vs Team B</h2>
        <div class="team-info">

    
            <div class="team">
                <h3>Team A</h3>
                <p>Some information about Team A</p>
            </div>
            <div class="team">
                <h3>Team B</h3>
                <p>Some information about Team B</p>
            </div>
        </div>
        <div class="date">Match Date: July 25, 2023</div>
          <input class="book" type="button" onclick="window.location.href = '/home/user-events/price';" value="Book Ticket for Event">
        
    </div> -->
    <div class="calendar">
        <div class="events">
            {% for event in events %}
            <form action="{{url_for('event_info')}}" method="post">
                <input type="hidden" name="teamA" value="{{event['teamA']}}">
                <input type="hidden" name="teamB" value="{{event['teamB']}}">
                <input type="hidden" name="teamA_id" value="{{event['teamA_id']}}">
                <input type="hidden" name="teamB_id" value="{{event['teamB_id']}}">
            <div class="event">
                <h2> {{event['teamA']}}&nbsp;{{event['teamA_id']}} vs {{event['teamB']}}&nbsp;{{event['teamB_id']}} </h2>
                <h3> {{event['date']}} </h3>
                <h3> This match will be legendary </h3>
                <input type="submit" name="event" value="View Event">
                <input type="submit" name="book" value="Book">
            </div>
            <!-- <input type="submit" value="View Event"> -->
        </form>
        
            {% endfor %}
        </div>
    </div>
    
</body>
</html>