<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <!-- <link rel="stylesheet" type="text/css" href="user-events.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-events.css')}}">
</head>
<body>
    <div class="title"><h1>Events</h1></div>

    <div class="filter">
        <h2>Filter</h2>
        <form method="POST" action="{{url_for('players')}}">
            <div class="filter-container">
                <div class="houses-filter filter-section">
                  <h3>Houses</h3>
                  <div class="checkbox-group">
                    <input type="checkbox" id="Gryffindor" name="house" value="Gryffindor">
                    <label for="Gryffindor">Gryffindor</label><br>
                    <input type="checkbox" id="Slytherin" name="house" value="Slytherin">
                    <label for="Slytherin">Slytherin</label><br>
                    <input type="checkbox" id="Hufflepuff" name="house" value="Hufflepuff">
                    <label for="Hufflepuff">Hufflepuff</label><br>
                    <input type="checkbox" id="Ravenclaw" name="house" value="Ravenclaw">
                    <label for="Ravenclaw">Ravenclaw</label><br>
                  </div>
                </div>
                
              </div>
              
              
            <input type="submit" value = "Apply Filter">
        </form>
    </div>



    <div class="event-container">
        <h2 class="teams-heading">Team A vs Team B</h2>
        <div class="team-info">

    
            <div class="team">
                <h3>Team A</h3>
                <p>Some information about Team A</p>
            </div>
            <div class="team">
                <h3>Team B</h3>
                <p>Some information about Team B</p>
            </div>
        </div>
        <div class="date">Match Date: July 25, 2023</div>
          <input class="book" type="button" onclick="window.location.href = '/home/user-events/price';" value="Book Ticket for Event">
        
    </div>
    
</body>
</html>