body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #2C353E;
  margin: 0;
  padding: 20px;
  color: #FFF;
}

.title {
  background-color: #4A637D;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  color: #FFF;
  font-size: 24px;
}

h2 {
  color: #FFF;
  margin-top: 40px;
  font-size: 80px;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  color: #FFF;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 5px;
  font-size: 25px;
}

input[type="date"] {
  width: 200px;
  padding: 5px;
  font-size: 25px;
  background-color: #FFF;
  color: #333;
  margin-left: 32px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 30px;
  width: 25vb;
  background-color: #4A637D;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 40px;
  top: 200px;
  background-color: #37474F;
  width: 200px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: #5E748D;
  border-radius: 100%;
  width: 100px;
}

.search-bar {
  flex: 1;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  background-color: #FFF;
  color: #333;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  margin-left: 100px;
}

.search-button {
  height: 39px;
  width: 64px;
  background-color: #4A637D;
  border: none;
  margin-left: -1px;
  margin-right: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

.search-icon {
  height: 25px;
}

.search-button .tooltip {
  position: absolute;
  background-color: #4A637D;
  color: #FFF;
  padding: 7px;
  border-radius: 2px;
  bottom: -35px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: "Segoe UI", Arial, sans-serif;
}

.search-button:hover .tooltip {
  opacity: 1;
}

.event-container {
  margin-top: 30px;
  background-color: rgb(91, 90, 90);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 1000px;
  margin-left: 250px;
  font-size: 30px;
}

/* Harry Potter theme styles */
.sidebar-link {
  font-family: "HarryPotter";
  font-size: 30px;
}

body, h1, h2, label, input {
  text-align: center;
  font-family: "HarryPotter", Arial, sans-serif;
}

@font-face {
  font-family: 'HarryPotter';
  src: url('/static/fonts/HarryP-MVZ6w.ttf') format('truetype');
}