/* styles.css */
body {
    font-family: "HarryPotter";
    background-color: #2C353E;
    margin: 0;
    padding: 20px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
  }

.calendar {
    margin: 20px;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}

.event {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #4A637D;
}

@font-face {
    font-family: 'HarryPotter';
    src: url('/static/fonts/HarryP-MVZ6w.ttf') format('truetype');
  }