body{
    
    background-color: #2C353E;
    margin: 0;
    padding: 20px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
}

table{
    border: solid;
}
td{
    border: solid;
    margin: 50px;
    text-align: center;
}
h1{
    font-family: "HarryPotter";
    margin: 50px;
    font-size: 50px;
}

@font-face {
    font-family: 'HarryPotter';
    src: url('/static/fonts/HarryP-MVZ6w.ttf') format('truetype');
  }