body{
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(3, 0, 18));

}

.top-container{
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/6lTe5sMDfNK3Rc9vuaXgkt/1fe1c4c92fea25cf913284f94f83b051/Date_Announcement_Post_Seb-_1_.jpg?fm=webp&q=70&w=2560");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}


.top-container h1{
    color: white;
    font-size: 50px;
    font-family: 'HarryPotter',Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 80px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;
    font-size: larger; 
    color: goldenrod;
}

h1{
    text-align: center;
    font-family: "Times New Roman",sans-serif;
    font-size: 50px; 
    color: white;
}

.navbar{
    display: flex;
    position: absolute;
    /* background-color: rgba(1, 1, 29, 0.689); */
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.3); */
    transition: background-color 0.4s;
}

/* .navbar ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    align-items: center;
    left: 40%;
} */

.navbar ul li a{
    margin: 0 10px;
    color: white;
    font-family: 'Times New Roman',cursive;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:white;
}

/* .navbar.active{
    background-color: black;
    height: 120px;
}

.navbar.active ul li a{
    color: white;
    text-decoration: underline;
} */

.logo{
    width: 50%;
}
.menu-bar {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    position: absolute;
    left:27%

  }
  .menu-bar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .menu-bar li {
    list-style: none;
    color: darkblue;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu-bar li:hover {
    color: darkblue;
  }
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #390678, #260249);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }

  .menu-bar .dropdown {
    position: absolute;
    top: 112%;
    left: -5%;
    display: none;
    background-color: rgba(0, 0, 0, 0.534);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 10px 0;
    z-index: 1;
  }
  
  .menu-bar li:hover .dropdown {
    display: block;
  }
  
  .menu-bar .dropdown li {
    color: white;
    font-family: sans-serif;
    font-weight:lighter;
    padding: 8px 16px;
    margin: 4px 0;
    white-space: nowrap;
    transition: background-color 0.2s ease;
  }
  
  .menu-bar .dropdown li:hover {
    background-color: rgba(255, 255, 255,0);
    border-radius: 100%;
  }
  

  .houses{
    height: 50vh;
    width: 100vb;
    margin-left: 22%;
    background-image: url("https://insidethemagic.net/wp-content/uploads/2021/02/Untitled-design-4-800x400.jpg");
  }

  .houses2{
    height: 79vh;
    width: 83%;
    margin-left: 8%;
    background-image: url("https://static1.moviewebimages.com/wordpress/wp-content/uploads/2022/06/Hogwarts-Houses-(1).jpg");
  }

  .btn{
    position: absolute;
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    margin-top: 16.5%;
    z-index: 0;
    /* height: 50px; */
    /* width: 200px; */
    /* color: #3498db; */
    /* font-size: 1.5em; */
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
 }
 
 .btnClass1 {
    position: absolute;
     left: 150px;
     width: 15%;
     height: 200px;
 }
 .btnClass4 {
    position: absolute;
     left:1055px;
     width: 14%;
     height: 200px;
 }
 .btnClass2 {
    position: absolute;
     left: 460px;
     width: 14%;
     height: 200px;
 }
 .btnClass3 {
    position: absolute;
     left: 760px;
     width: 14%;
     height: 200px;
 }
 .btnClass5 {
    position: absolute;
     left: 310px;
     width: 15%;
     height: 200px;
     margin-top: 65%;
 }
 .btnClass7 {
    position: absolute;
     left:720px;
     width: 14%;
     height: 200px;
     margin-top: 65%;
 }
 .btnClass6 {
    position: absolute;
     left: 520px;
     width: 14%;
     height: 200px;
     margin-top: 65%;
 }
 .btnClass8 {
    position: absolute;
     left: 930px;
     width: 14%;
     height: 200px;
     margin-top: 65%;
 }

 @font-face {
  font-family: 'HarryPotter';
  src: url("/static/fonts/HarryP-MVZ6w.ttf") format('truetype');
}
