body{
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(3, 0, 18));

}

.top-container{
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/6lTe5sMDfNK3Rc9vuaXgkt/1fe1c4c92fea25cf913284f94f83b051/Date_Announcement_Post_Seb-_1_.jpg?fm=webp&q=70&w=2560");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}


.top-container h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;
    font-size: larger;
    
    color: goldenrod;
}

.navbar{
    display: flex;
    position: fixed;
    /* background-color: rgba(1, 1, 29, 0.689); */
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.3); */
    transition: background-color 0.4s;
}

/* .navbar ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    align-items: center;
    left: 40%;
} */

.navbar ul li a{
    margin: 0 10px;
    color: white;
    font-family: 'Times New Roman',cursive;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:white;
}

.navbar.active{
    background-color: black;
    height: 120px;
}

.navbar.active ul li a{
    color: white;
    text-decoration: underline;
}

.logo{
    width: 50%;
}
.menu-bar {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    position: absolute;
    left:35%
  }
  .menu-bar li {
    list-style: none;
    color: darkblue;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu-bar li:hover {
    color: darkblue;
  }
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #390678, #260249);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
