body{
    margin: 0%;
    background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(3, 0, 18));
    height: 100%;
    font-family: 'HarryPotter',Arial,sans-serif;
    font-size: 15px;
    
}
@font-face {
    font-family: 'HarryPotter';
    src: url('/static/fonts/HarryP-MVZ6w.ttf') format('truetype');
}

h1{
    font-size: 50px;
    color: goldenrod;
    text-align: center;
}



.filter-container {
    display: flex; /* Display divs side by side */
    gap: 20px; /* Adjust as needed */
    margin-left: 38%;
  }
  
  /* Filter section styles */
  .filter-section {
    background-color: #4A637D;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center checkboxes vertically */
  }
  
  /* Checkbox group styles */
  .checkbox-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center checkboxes horizontally */
  }

.event-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}


.teams-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.team-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.book{
  cursor: pointer;
}